{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "Jan 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- with .Params.journal }}
{{- $scratch.Add "meta" (slice (printf "<span><em>%s</em></span>" .)) }}
{{- end }}

{{- with .Params.doi }}
{{- $short := replace . "https://doi.org/" "" }}
{{- $short = replace $short "http://doi.org/" "" }}
{{- $short = replace $short "https://doi/" "" }}
{{- $scratch.Add "meta" (slice (printf "<span><a href=\"%s\" target=\"_blank\" rel=\"noopener\">%s</a></span>" . $short)) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . " &nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
