<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="icons">
      {%- if site.researchgate_url -%}<li><a href="{{ site.researchgate_url }}" class="ai ai-researchgate"><span class="label">
            Research Gate
          </span></a></li>{%- endif -%}
      {%- if site.googlescholar_url -%}<li><a href="{{ site.googlescholar_url }}" class="ai ai-google-scholar"><span class="label">
            Google Scholar
          </span></a></li>{%- endif -%}
      {%- if site.orcid_url -%}<li><a href="{{ site.orcid_url }}" class="ai ai-orcid"><span class="label">
            Orcid
          </span></a></li>{%- endif -%}
      {%- if site.osf_url -%}<li><a href="{{ site.osf_url }}" class="ai ai-osf"><span class="label">
            Open Science Framework
          </span></a></li>{%- endif -%}
      {%- if site.github_url -%}<li><a href="{{ site.github_url }}" class="fa fa-github"><span class="label">
            Github
          </span></a></li>{%- endif -%}
      {%- if site.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}" class="icon fa-rss"><span class="label">RSS</span></a></li>{%- endif -%}
    </ul>
    <ul class="copyright">
      <li>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}</li>
    </ul>
  </div>
</footer>
