<header id="header">
  <div class="inner">
    <a href="{{ "/" | relative_url }}" class="image avatar"><img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}" /></a>
    <h1><strong>{{ site.title | escape }}</strong></h1>
      <span>
        {% if site.field %} {{ site.field }}<br>{% endif %}
        {% if site.post %} {{ site.post }}<br>{% endif %}
				{% if site.university %} {{ site.university }}<br>{% endif %}
				{% if site.city %} {{ site.city }}, {% endif %}
				{% if site.state %} {{ site.state }} {% endif %}
				{% if site.country %} {{ site.country }} {% endif %}
				{% if site.zip_code %} {{ site.zip_code }}{% endif %}
    </span>
  </div>
  <div class="inner">
	  <ul class="icons">
      <li><strong>Email: </strong><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><strong>About me: </strong><a href="{{ "aboutme.html" | relative_url }}">updated May 2024</a></li>
      <li><strong>CV: </strong><a href="{{ "cv.html" | relative_url }}">updated October 2024</a></li>
		</ul>
  </div>
</header>
