@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.book.font-family-0 {
  font-family: 'Roboto Slab', serif;
}
p.caption {
  font-size: 0.9em;
  font-weight: bold;
  text-align: justify;
  line-height: 1.2em;
}
blockquote {
  opacity: 1 !important;
  padding: 0.5em 3em !important;
  line-height: 1.2 !important;
}
