body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 1em 1em 0em rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  font-size: 3em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#timer {
  font-size: 10em;
  margin: auto;
  display: none;
}
