---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
  {%- if site.posts.size > 0 -%}
    <section class="post-list">
    {%- if site.categories.latestWork.size > 0 -%}
      <h1 class="post-list-heading">{{ page.first_list_title | default: "Research Activities" }}</h1>
      {%- for post in site.categories.latestWork -%}
        <section class="post-list-item">
          <header>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <p class="post-meta">{{ post.date | date: date_format }}</p>
          </header>
          {%- if site.show_excerpts -%}
            <div class="post-excerpt">
              <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            </div>
          {%- endif -%}
        </section>
      {%- endfor -%}
    {%- endif -%}
    <hr>
    {%- if site.categories.software.size > 0 -%}
      <h1 class="post-list-heading">{{ page.second_list_title | default: "Software, Tutorials, & Teaching Materials" }}</h1>
      {%- for post in site.categories.software -%}
        <section class="post-list-item">
          <header>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              {%- if post.github -%}
                <a class='fa fa-github-square' href='{{ post.github }}' style='margin:0.5em'></a>
              {%- endif -%}
            </h3>
            <p class="post-meta">{{ post.date | date: date_format }}</p>
          </header>
          {%- if site.show_excerpts -%}
            <div class="post-excerpt">
              <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            </div>
          {%- endif -%}
        </section>
      {%- endfor -%}
    {%- endif -%}
    <hr>
    {%- if site.categories.proposedWork.size > 0 -%}
      <h1 class="post-list-heading">{{ page.third_list_title | default: "Proposed Research" }}</h1>
		  <h2>Foreword about my interests and expertise</h2>
      <p><strong>My formal training is evenly split between metamorphic petrology, continuum mechanics, and applied statistics.</strong> My PhD research focused on quantifying aspects of subduction zone geodynamics with large numerical and empirical datasets. For example, I asked questions like: how do metamorphic reactions affect the mechanical nature of the interface between converging plates? How does mechanical coupling between plates relate to detachment and recovery of subducting oceanic lithosphere? How can surface heat flow observations be leveraged to infer the spatial scales and variability of deep dynamic processes?</p>
      <p>My future research continues aiming at relevant questions in subduction zone geodynamics. Meanwhile, <strong>developing machine learning (ML) methods that are currently lacking in metamorphic & igneous petrology—yet demonstrably successful at advancing other STEM fields—is a rich and highly-relevant research theme that I am pursuing.</strong> For example, the proposals outlined below specifically aim at: reducing (time and monetary) costs for scaling petrological datasets, enabling automated on-site identification of critical minerals hosted in altered ultramafic rocks, and making novel estimates of carbon fluxes between Earth reservoirs with large-scale coupled numerical geodyanamic and thermodynamic models. <strong>The broader impacts of the proposed work include making geoscience more inclusive by lowering costs to entry, and serving global societies by informing climate projections and accelerating our transition to a sustainable energy
          future.</strong></p>
      {%- for post in site.categories.proposedWork -%}
        <section class="post-list-item">
          <header>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <p class="post-meta">{{ post.date | date: date_format }}</p>
          </header>
          {%- if site.show_excerpts -%}
            <div class="post-excerpt">
              <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            </div>
          {%- endif -%}
        </section>
      {%- endfor -%}
    {%- endif -%}
    </section>
  {%- endif -%}
</div>
